# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/worpress/wp-admin/
/worpress/wp-content/index.php
/worpress/wp-content/languages
/worpress/wp-content/plugins/index.php
/worpress/wp-content/themes/index.php
/worpress/wp-includes/
/worpress/index.php
/worpress/license.txt
/worpress/readme.html
/worpress/wp-*.php
/worpress/xmlrpc.php

# Configuration
/worpresswp-config.php

# Example themes
/worpress/wp-content/themes/twenty*/

# Example plugin
/worpress/wp-content/plugins/hello.php

# Uploads
/worpress/wp-content/uploads/

# Log files
/worpress*.log

# htaccess
/worpress/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes